/* styles/quill-custom.css */

.quill-editor .ql-container {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  min-height: 200px;
  max-height: none !important;
}

.quill-editor .ql-toolbar {
  border: none;
  background-color: #f0f0f1;
}

.quill-editor .ql-container {
  border: none;
}

.quill-editor .ql-editor {
  min-height: 200px;
  max-height: none !important;
  overflow-y: visible !important;
}

.quill-editor .ql-toolbar button,
.quill-editor .ql-toolbar .ql-picker {
  color: #4c4c57 !important;
}

.quill-editor .ql-toolbar button:hover,
.quill-editor .ql-toolbar .ql-picker:hover,
.quill-editor .ql-toolbar button.ql-active,
.quill-editor .ql-toolbar .ql-picker.ql-active {
  color: #ff3c26 !important;
}

.quill-editor .ql-toolbar button svg,
.quill-editor .ql-toolbar .ql-picker svg {
  stroke: currentColor !important;
}
